/**
 * This file contains source code adapted from syfxlin/graffiti-board (licensed Apache-2.0).
 *
 * @see https://github.com/syfxlin/graffiti-board/blob/5945b126c945073eced5e6eb78658bc2a7375881/style.css
 */

body {
  overscroll-behavior: none;
  color: #585858;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
  background: #fff;
  background-image: none;
  background-image: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: #3b4351;
  display: block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: 0;
  padding: 0.25rem 0.4rem;
  position: relative;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: inherit;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: 0;
  padding: 0.25rem 0.4rem;
  vertical-align: middle;
  width: 100%;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E")
    no-repeat right 0.35rem center/.4rem 0.5rem;
  padding-right: 1.2rem;
  margin-bottom: 0.5rem;
}

.title,
.container {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 1080px;
  max-width: 96%;
}

.title h1 {
  margin-bottom: 10px;
}

.title h5 {
  margin: 5px 0px;
}

.title h5 a {
  color: #6190e8;
}

.active {
  color: #6190e8;
}

.svg-container {
  /* float: left; */
  height: 500px;
  /* width: 70%; */
}

#svg {
  border: 1.5px solid #6190e8;
  cursor: crosshair;
  padding: 0px;
  touch-action: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUYFQUEEgalnQAAACpJREFUOMvtzEEBAAAIAjHOKvbPiCXwxwIM20oBdhTWsGHDhg2fQiRtMjxX7gNtpyrSwgAAAABJRU5ErkJggg==");
  width: 100%;
  height: 100%;
}

.svg-button {
  border: 1.5px solid #6190e8;
  /* border-left: none; */
  /* float: left; */
  height: 85px;
  /* width: 30%; */
  padding: 6px 16px;
  box-sizing: border-box;
  user-select: none;
  overflow-y: auto;
}

.svg-button h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.svg-button > div {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.svg-button > div div {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  cursor: default;
}

.svg-button > div div:hover {
  color: rgba(97, 144, 232, 0.63);
}

.svg-button > div span {
  font-size: 13px;
}

.svg-button .can-color li {
  border: 1.5px solid #ddd;
  width: 20px;
  height: 10px;
}

.svg-button .can-size .small {
  font-size: 12px;
}
.svg-button .can-size .middle {
  font-size: 16px;
}
.svg-button .can-size .big {
  font-size: 18px;
}

#images {
  padding-top: 10px;
  clear: both;
}

#images textarea {
  border: 1.5px solid #6190e8;
}
